# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Frontend

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/android
/ios
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# Backend / .NET Core

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Sensitive configuration files
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
**/appsettings.Local.json
**/secrets.json

# User secrets
**/Properties/serviceDependencies.json
**/Properties/serviceDependencies.local.json

# Logs
logs/
*.log

# macOS
.DS_Store
*.pem
